<div class="clearfix top-space small"></div>
<div class="row">

  <%= render :partial => 'shared/left_nav' %>

  <div class="panel panel-default col-md-8 text-left">
    <div class="pull-left">
      <h4>Twets</h4>
    </div>
    <div class="clearfix"></div>
    <hr />
    <ol class="list-unstyled">
      <% @twets.each do |twet| -%>
      <li>
        <%= content_tag :strong, twet.user.name, :class => 'pull-left text-middle' %>
        <%= link_to "@"+twet.user.username, "/user/#{twet.user.username}", :class => 'text-muted pad-10 text-middle' %> 
        <!--is there a way to do the above without deleteing 'content_tag :strong?'-->
        <%= content_tag :small, twet.created_at.strftime("%b %-d"), :class => 'text-muted text-middle pull-right' %>
        
        <div class="clearfix"></div>
          <% twet.content.split(/ /).each do |word| %>
            <% if word.start_with?('@') %> 
              <%= link_to word, "/user/#{word.gsub(/[^0-9A-Za-z]/, '')}" %>
            <% else %>
              <%= word %>
            <% end %>
          <% end %> 
      </li>
      <li><hr></li>
      <% end -%>
    </ol>
  </div>
</div>

