<div class="col-md-4">
  <ul class="nav nav-pills nav-stacked well text-left">
    <li>
      <%= content_tag :strong, @user.name %>
    </li>
    <li>
      <%= link_to "@#{@user.username}", "/user/#{@user.username}" %><!--is there a way to do the above without deleteing 'content_tag :small'?-->
    </li>
    <li style="text-align: center;">
      <table class="table table-bordered stats" style="text-align: center; float: center; margin: 0 auto;">
        <tbody>
          <tr>
            <td>
              <%= content_tag :h4, @user.twets.count %>
              <%= content_tag :small, 'Twets', :class => "uppercase lighter" %>
            </td>
            <td>
              <%= content_tag :h4, @user.follows.count %>
              <%= content_tag :small, 'Following', :class => "uppercase lighter" %>
            </td>
            <td>
              <%= content_tag :h4, Follow.where(:following_id => @user.id).count %>
              <%= content_tag :small, 'Followers', :class => "uppercase lighter" %>
            </td>
        </tbody>
      </table>
    </li>
    <li style="text-align: center; float: center; margin: 10px auto;">
        <%= follow_link(@user) %>
    </li>
  </ul>

  <ul class="nav nav-pills nav-stacked well">
    <%= nav_item("Follow", follows_path) %>
    <%= nav_item("Twet", twets_path) %>
  </ul>
</div>
